* {
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(0, 0, 0, 0.61);
}
/* ------Text------- */
h2,
h3,span {
    color: rgba(25, 79, 87, 0.849);
}
.cou-1 h2,span{
    color: rgba(112, 112, 112, 0.788);
    font-size: 100%;
    padding-left: 10px;
}
.men-1
{
    color: rgba(31, 73, 90, 0.945);
    font-size: 20px;
}

.p-col {
    color: rgba(39, 107, 119, 0.705);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 15px;
}
/* ------navbar-toggle------ */
.fa-bars {
    position: absolute;
    display: none;
    font-size: 30px;
    top: 15%;
    left: 5%
}
.fa-close{
    display: none;
  position: absolute;
  font-size: 20px;
  top: 0;
  right: 0px;
}

input[type="checkbox"] {
    display: none;
}

.container {

    width: 100%;
    margin: auto;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
}

/* -----nav-bar----- */

.logo {
    max-width: 30%;
}

.nav {
    width: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
}

.nav-bar {
    display: flex;
    position: relative;
}

#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
}

#menu li {
    list-style-type: none;
    padding: 10px;
}

li>a {
    text-decoration: none;
    text-transform:uppercase ;
    color: rgb(8, 56, 8);
    border: 1px solid white;
    outline: 1px solid lightgray;
    padding: 5px 5px;
    border-radius: 5px;
    background-color: rgb(216, 226, 216);
}

#menu a.active {
    background-color: rgb(60, 80, 54);
    color: white;
}

ul a:hover {
    background-color: rgb(205, 213, 216);
    color: rgb(8, 56, 8);
    border: 2px solid green;
    box-shadow: 0px 0px 5px green;

}

hr {
    border: 0.5px dashed black;
    height: 0;
    margin: 0;
}
/* ---body---- */
.container2 {
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    outline: 1px solid lightgray;
    border: 1px solid white;
    padding-top: 20px;
    margin-top: 100px;
    text-align: center;
    background-color:rgba(201, 214, 218, 0.808);

}

.cont1 {
    width: 60%;
    display: block;
}

div.img-cont {
    width: 100%;
    height: 300px;
    display: inline;

}

.img-cont>img {
    max-width: 30%;
    position: relative;
    border-bottom: 0;
    top: -50px;
    border-radius: 50%;
}

.text {
    margin-left: 20%;
    text-align: left;
    position: relative;
    white-space:wrap;
}

.abs {
    width: 40%;
    height: 100%;
}

.man-img {
    max-width: 100%;
    height: 50%;
    position: relative;
    top: -50px;
    margin-bottom: -10%;
}

.container3 {
    display: flex;
    width: 90%;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: justify;
    margin-top: 100px;
   

}
.c_img{
    max-width: 100%;
}

.container3>div {
    
    /* border: 0.2px solid rgba(128, 128, 128, 0.212); */
    text-align: center;
    background-color: rgb(240, 243, 247);
    box-shadow: 0 0 5px gray;
    padding: 10px;
}

.grid2 {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: justify;
    margin-top: 100px;

}

.grid2>div {
    padding: 20px;
    width: 30%;
    text-align: left;

}
.grid2 div h3{
    font-size: 17px;
}

.g2 {
    width: 70%;
    margin: auto;
    position: relative;
    text-align: left;
    padding: 10px;
}

.item2 {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.footer {
    width: 100%;
    background-color: rgb(241 236 236 / 81%);
    /* background-image: url(images/bg-footer.gif);
    background-size: cover;
    background-repeat: no-repeat; */
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
}
.copy_rights
{
     /* background-image: url(images/bg-footer.gif); */
     background-color: rgb(241 236 236 / 81%);
     font-size: 15px;
    color: rgba(163, 161, 161, 0.582);
}

.ft-1 {
    border: 0.2px solid rgba(221, 221, 221, 0.856);
    margin-top: 50px;
    text-align: left;
}

.footer>div {
    padding: 20px;

}

/* p {
    padding: 0 20px px 0;

} */

.i5 {
    display: inline-block;
    list-style-type: disc;
    position: relative;
    justify-content: center;
}

.fol {
    display: flex;
    font-size: 22px;
    
   justify-content: center;
    cursor: pointer;

}
.fa{
   
    color: rgba(117, 117, 117, 0.685);
}
.g_span
{

    padding: 13px 0;
    
    font-size: 15px;
    color: rgba(163, 161, 161, 0.582);
}
.par
{
   padding-top: 5px;
}
.par_img
{
    display: flex;
    
}
.par_img img{
    max-width: 100%;
    padding: 10px;
}
.copy_rights
{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 10px;
}
.graph-img{
    width: 20%;
}
/* -----media-query---- */


@media(max-width:800px) {

    .fa-bars {
        display: inline-block;
        cursor: pointer;
    }

    .fa-bars:hover {
        background-color: rgb(201, 166, 166);
    }

    #menu li {
        padding-top: 30px;
    }

    li>a {
        text-decoration: none;
        padding: 5px;
        border-radius: 5px;
        background-color: rgb(216, 226, 216);
    }

    /* ul a.active {
        background-color: rgb(60, 80, 54);
        color: white;
    } */

    #menu a:hover {
        background-color: darkolivegreen;
        color: white;
    }

    .item2 {
        display: inline;
    }

    .footer {
        width: 100%;
        font-size: 10px;
    }


    .nav-bar {
        position: fixed;
        top: 0;
        left: -200px;
        width: 200px;
        height: 55%;
        background-color: rgba(159, 185, 201, 0.822);
        transition: left 0.3s ease;
        z-index: 1;
        
    }

    #menu {
        display: inline-block;
        margin: auto;
    }

    .toggle-btn {
        position: absolute;
        top: 10px;
        left: 10px;
        cursor: pointer;
        z-index: 1;
    }
    .close-btn
    {
        
        position: absolute;
        top:5px;
        right: 5px;
        cursor: pointer;
        z-index: 1;
    }

    #toggle {
        display: none;
    }

    #toggle:checked~.nav-bar {
        left: 0;
    }
    .toggle:checked{
        left:-200px
    }
    .fa-close{
        display: block;
        color: red;
    }

    .container3 {
        display: flex;
        width: 90%;
        margin: auto;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        text-align: justify;
        margin-top: 100px;
    
    }
    
    .container3>div {
        width: 100%;
        box-shadow: 0 0 5px gray;
        text-align: center;
        background-color: rgb(202, 207, 212);
        overflow: hidden;
    }
    /* .container3
    {
        width: 80%;
    }
    .container3>div{
        width: 80%;
        position: relative;
        padding-left: 5%;
        padding-right: 5%;
    } */
    .grid2 {
        width: 80%;
        flex-direction: column;
        align-items: center;
        

    }
    .grid2>div{
        width: 100%;
        position: relative;
        padding-left: 5%;
        padding-right: 5%;
    }
    c_img{
        width: 10px;
    }
    /* .men-1{
        font-size: 15px;
    }
    .p-col{
        font-size: 10px;
    } */
    .par_img img{
        width: 100px;
        height: 120px;
       
    }
}
@media(max-width:350px)
{
    .img-cont>img {
        max-width: 30%;
        position: relative;
        border-bottom: 0;
        top: -30px;
        border-radius: 50%;
    }
    .logo {
        max-width: 40%;
    }
    c_img{
        max-width: 30%;
    }
    .par_img img{
        width: 100px;
        height: 20px;
       
    }
    img.graph-img{
        width: 130px;
    }
    
}
@media(max-width:1214px)
{
    .c_img{
        max-width: 80%;
    }
    .graph-img{
        width: 30%;
    }
    .item2
    {
        width: 50%;
    }
    .par_img img{
        width: 150px;
        height: 150px;
       
    }
}